<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Equipamento</title>
</head>

<body>

    <body>

        <h3>Cadastro Realizado com Sucesso</h3>

        <canvas id="canvas"></canvas>

        <img src="<%= filename %>"/>

        <img src="./qrcode/1555642103667.png"/>

    </body >

</html >