<html>

<head></head>

<body>
    <h2>Equipamento</h2>

    <%  
        var id = null;
        var tipo;
        var modelo;
        var mes;
        var ano;
        var valor;
        var imagem;

        if (data !== undefined) {
            data.forEach(function(details) {
                id = details._id;
                tipo = details.tipo;
                modelo = details.modelo;
                mes = details.mes;
                ano = details.ano;
                valor = details.valor;
                imagem = details.imagem;
            })
        }
         %>
        <form method="POST" action="/save" enctype="multipart/form-data">
            <% if (!data) { %>
            <input type="hidden" name="_id" value="<%= id %>">
            <!--<input type="hidden" name="nameImagem" value="<%= imagem %>">-->
            <% } %>
            Tipo: <input type="text" name="tipo" value="<%= tipo %>"><br>
            Modelo: <input type="text" name="modelo" value="<%= modelo %>"><br>
            Mês: <input type="text" name="mes" value="<%= mes %>"> Ano: <input type="text" name="ano" value="<%= ano %>"><br>
            Valor: <input type="text" name="valor" value="<%= valor %>"><br><br>
            <% if (data) { %>
            <img src="<%= imagem %>"><br><br>
            <% } %>
            <input type="file" name="image"/><br><br>
            <input type="submit" title="Enviar">
        </form>    
    <!--<% if (data !== undefined) data.forEach(function(details) { %>
    <form method="POST" action="/equipamento">
            <input type="hidden" name="_id" value="<%= details._id %>">
            Tipo: <input type="text" name="tipo" value="<%= details.tipo %>"><br>
            Modelo: <input type="text" name="modelo" value="<%= details.modelo %>"><br>
            Mês: <input type="text" name="mes" value="<%= details.mes %>"> Ano: <input type="text" name="ano" value="<%= details.ano %>"><br>
            Valor: <input type="text" name="valor" value="<%= details.valor %>"><br>
            Foto: <input type="image" name="foto"><br><br>
            <input type="submit" title="Enviar">
        </form>
        <% }) %>-->
    </body>
</html>