<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>CRUD Equipamento</title>
</head>

<body>

    <body>

        <h2>Registros</h2>
        <table border="1">
            <thead>
                <tr>
                    <td>Código</td>
                    <td>Tipo</td>
                    <td>Modelo</td>
                    <td>Mês/Ano</td>
                    <td>Valor</td>
                    <td>Ações</td>
                </tr>
            </thead>
            <tbody>
                <% data.forEach(function(details) { %>
                <tr>
                    <td><%= details._id %></td>
                    <td><%= details.tipo %></td>
                    <td><%= details.modelo %></td>
                    <td><%= details.mes %>/<%= details.ano %></td>
                    <td><%= details.valor %></td>
                    <td><a href="/equipamento/editar/<%= details._id %>">Editar</a> - <a href="/equipamento/deletar/<%= details._id %>">Deletar</a></td>
                </tr>
                <% }) %>
            </tbody>
            <button><a href="/cadastroEquipamento">Adicionar</a></button>
            <button><a href="/">Voltar</a></button>
        </table>
    </body>

</html>